body {
    font-family: 'Open Sans', sans-serif;
}

th,
td {
    border: 1px solid;
}

.logo-data {
    text-align: center;
    height: 4em;
    width: 4em;
    padding: 0.25em;
}

.team-logo {
    max-width: 50px;
    max-height: 50px;
}


/*===================*/


/* index.html        */


/*===================*/

.header-navigation {
    padding: 0 1em;
    height: 3.5em;
    border-bottom: 2px solid #ddd;
}

.header-navigation-nba-logo {
    height: 3em;
    padding: 0.5em 0;
}

.header-navigation-tagline {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 600;
}

.hero {
    font-family: 'Open Sans', sans-serif;
}

.hero-nba-logo {}

.bottom-part {
    background-color: #00471B;
    color: #fff;
}

.bottom-part a {
    color: #fff;
}

.city-line,
.team-name-line,
.top-five-in-line {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.team-name-line {
    font-size: 4em;
}

.team-select-team-logo {
    display: block;
    margin: auto;
    max-width: 250px;
}

.rank-listing-table {
    width: 100%;
}