/*all*/

body {
    font-family: 'Open Sans', sans-serif;
}

th,
td {
    border: 1px solid;
}

footer {
    padding: 1em;
    font-size: .66em;
    border-top: 2px solid black;
    background-color: rgb(32, 32, 32);
}


/*index.html*/

.logo-data {
    text-align: center;
    height: 4em;
    width: 4em;
    padding: 0.25em;
}

.team-logo {
    max-width: 50px;
    max-height: 50px;
}

.header-navigation {
    padding: 0 1em;
    height: 3.5em;
    border-bottom: 2px solid #ddd;
}

.header-navigation-nba-logo {
    height: 2em;
}

.header-navigation-tagline {
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: 600;
}

.hero-text p {
    font-size: .9em;
}

.bottom-part {
    border-top: 2px solid #ddd;
    background-color: #e03a3e;
    color: #fff;
}

.bottom-part a {
    color: #fff;
}

.city-line,
.team-name-line,
.top-five-in-line {
    font-size: 2em;
    font-weight: 600;
    margin: -20px 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.team-name-line,
.rank-listing-table th {
    font-size: 4em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.rank-listing-table th {
    padding: 20px;
    letter-spacing: -2px;
}

.team-select-team-logo-container {
    border-right: 1px solid white;
}

.team-select-team-logo {
    display: block;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}

.team-picker {
    max-width: 250px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
}

.rank-listing-table,
.rank-listing-table tr {
    border-top: 3px solid #fff;
    width: 100%;
}

.rank-listing-table th {
    border: 0;
}

.not-top-five {
    display: none;
}


/*MEDIUM BREAKPOINT FIXES*/

@media(max-width:768px) {
    .hero-nba-logo {
        padding: 2em 4em;
    }
}


/*SMALL BREAKPOINT FIXES*/

@media(max-width:576px) {
    .team-select-team-logo-container {
        border-right: 0;
        border-bottom: 1px solid white;
        padding-bottom: 2em;
    }
    .team-select-text-container {
        padding-top: 2.5em;
        padding-bottom: 1em;
    }
    .rank-listing-data {
        font-size: .66em;
    }
    .team-name-line {
        font-size: 3.5em;
    }
    .team-picker {
        max-width: 250px;
    }
}


/*allTeams.html*/

.backToIndex {
    text-align: center;
    margin: 2em;
}

.allTeamsTable {
    padding: 0 4em 2em 4em;
}