body {
    font-family: 'Open Sans', sans-serif;
}

th,
td {
    border: 1px solid;
}

.logo-data {
    text-align: center;
    height: 4em;
    width: 4em;
    padding: 0.25em;
}

.team-logo {
    max-width: 50px;
    max-height: 50px;
}


/*===================*/


/* index.html        */


/*===================*/

.header-navigation {
    height: 4em;
    border-bottom: 1px solid gray;
}